.book{
    flex:1;
}
.book-list-background {
    background-color: #f5f5f5; 
    padding: 10px; 
    border-radius: 10px; 
    flex:1;
}

.book--header{
    display:flex;
    align-items:center;
    justify-content: space-bet
    }


  .header-title {
    font-size: 30px; 
    font-weight: bold;
    color:#526d82;
    margin-right: auto; /* Đẩy tiêu đề sang bên trái */
    
  }
 
  
.book--info{
    height: 85%;
    margin-top:2rem;
    border-radius: 10px;
    background:#dde6ed;

    flex-direction: column;
    display: flex;
    padding:10px;
    
}
.book--detail{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.book--detail img{
    background: #fff;
    /* border-radius: 50%; */
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.user--detail .username{
    color:#526d82;


}
.user-courses{
    background:#fff;
    flex:1;
    border-radius: 10px;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
    
}

.profile_uid{
    color: #969696;
}
.book_info {
    padding: 30px; 
    margin-left:10px;
}

.profile_info div {
    margin-bottom: 10px; /* Khoảng cách giữa các mục */
    display: flex; /* Sử dụng flexbox để canh trái nhãn và nội dung */
    align-items: left; /* Căn giữa nội dung */
   
}

.profile_info div strong {
    width: 80px;
    color: black; 
    font-weight: bold;
}

